body {
    text-align: center;
    background-color: #282c34;
    color: white;
}

.stor {
    font-size: 100px;
    color: rgb(241, 211, 92);
}

.eiffelpic {
    box-shadow: 2px 2px 5px;

}